#cyp-gallery {
	position: relative;
}

.cyp-btn-left {
	position: absolute;
	bottom: 0;
	left: 10px;
}

.cyp-btn-right {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.cyp-dot {
	margin: 5px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #fafafa;
	border-radius: 100%;
	transition: all ease 1.0s;
}

.cyp-dot:hover {
	background-color: gray;
}

.cyp-dot-container {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.cyp-dot.active {
	background-color: gray;
}