#cyp-gallery {
	position: relative;
}

.cyp-btn-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.cyp-btn-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.cyp-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: gray;
}